.App {
  text-align: center;
}

.Logo{
  width: 280px;
  height: 130px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navBar {
  background-color: black;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBtn {
  color: #7c3b83;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  width: 60%;
  height: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
